<!DOCTYPE html>
<html>
   <%- include('./partials/head.ejs') -%>
   <body class='container'>
      <%- include('./partials/navbar.ejs') %>
      <div class='jumbotron text-center'>
         <h2>Welcom to the freeCodeCamp Voting App</h2>
      </div>
      <div class='row'>
         <div class='col-sm-6'>
            <p>This app was written for the freeCodeCamp Voting App project and is written using Mongo[ose], Express 4, and Node.</p>
         </div>
         <div class='col-sm-6'>
            <p>Take a look around and view/vote on some <a href='#'>polls</a>. If you'd like to create a poll, please <a href='#'>Sign Up</a> or <a href='#'>Sign In</a> to get started.</p>
         </div>
      </div>
      <%- include('./partials/jq-bootstrap.ejs') %>
   </body>
</html>
